.footer {
    height: 209px;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @media screen and (max-width: 376px) {
    .footer-text  {
      width: 135px;
      text-align: center;
    }
  }
  