header {
  padding: 45px 45px 0px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  .header-img {
    margin-right: 10px;
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 57px;
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    .nav-link {
      text-decoration: none;
      color: black;
    }
    .nav-link-active {
      text-decoration: underline;
    }
  }
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  header {
    padding: 20px;
    flex-wrap: wrap;
    .header-img {
      margin-right: 10px;
      width: 145px;
      height: 46px;
    }
    .navbar ul {
      gap: 20px;
      font-size: 12px;
    }
    .nav-link {
      text-transform: uppercase;
    }
  }
}
