.host {
    display: flex;
    align-items: center;
    gap: 10px;
    .host-picture {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }
    .host-name {
        color: $primary-color;
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .host {
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 0;
    } 

    .host-name {
        margin-right: 10px;
        font-size: 12px;
        width: 93px;
        text-align: right;
    }

    .host-picture {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
    }

    .logement-host {
        display: none;
    }
}