.stars {
    display: flex;
    gap: 15px;
}

.star {
    font-size: 36px;
    color: #E3E3E3; 
}

.star.filled {
    color: $primary-color; 
}

@media screen and (max-width: 768px) {
    .logement-stars {
        display: none;
    } 

    .stars {
        gap: 7px;
    }
    .star {
        font-size: 18px;
    }

}