.main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    justify-content: center
  }

  @media screen and (max-width: 768px) {
    .main-home {
      width: 100%;
    }
    .main-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 22px;
      justify-content: center;
    }
    }