.main-logement {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    width: 1240px;
    gap: 30px;
}

.logement-img {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    margin: auto;
}

.logement-title {
    color: $primary-color;
    font-size: 36px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.logement-location {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat';
}

.tags-and-stars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logement-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logement-info {
    display: flex;
    flex-direction: column;
}

