@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.App {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 50px 0px 50px;
    font-family: 'Montserrat';

    .banner {
      display: flex;
      justify-content: space-between;
      
      img {
        margin-right: 10px;
      }
      nav.navbar ul{
        list-style-type: none;
        display: flex;
        gap: 57px;
        font-size: 24px;
        font-weight: 500;
    } 
  }

  .main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    justify-content: center
  }
  
  .footer {
    height: 209px;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
}




